#intro {
    display: grid;
    flex-direction: column;

    min-height: 60vh;

    margin-left: 15%;
    margin-right: 15%;

    place-items: center;
    align-content: center;
    text-align: center;

    font-size: clamp(1.125rem, 2vw, 3rem);
}

.intro-code {
    color: rgb(211, 211, 211);
    font-size: 0.25em;
    font-family: "Courier New";
}

#intro-nav {
    text-align: center;

    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 35vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
}

#intro-nav a {
    /* display: inline-block; */

    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-inline: 2em;

    text-decoration: none;
    color: white;
    border: 4px solid transparent;
    border-radius: 20px;
    transition: 1s;
}

#intro-nav a:hover {

    background-color: #212B38;
    box-shadow:
        0 0 60px 3px #212B38;

    /* inner white */
    /* 0 0 10px 6px #f0f, */
    /* middle magenta */
    /* 0 0 14px 9px #0ff; */
    /* outer cyan */
    border-radius: 25px;
}

@media only screen and (max-width: 768px) {

    #intro-nav {


        grid-template-columns: repeat(2, 1fr);

    }
}