/* -------------------------------------------------------------------------- */
/*                                   Content                                  */
/* -------------------------------------------------------------------------- */

.blogContent {
    display: flex;
    flex-direction: column;
}

.blogContent header {
    grid-column: 1 / 5;
    background-color: #37465B;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

.blogContent header h1 {
    font-size: 60px;
}

.blogContent header h2 {
    font-size: 36px;
}

.blogContent header p {
    font-size: 26px;
}

.blogSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, auto);
    gap: 10px;
    margin: 10px;
}

.blogSection header {
    display: flex;

    /* margin-top: 60px; */
}


.blogStrip {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

    grid-column: 1 / 5;
}

#interests {
    margin-top: 200px;
}

@media only screen and (max-width: 768px) {

    .blogSection header {
        display: flex;
        flex-direction: column;
    }

    .blogStrip {
        flex-direction: column;
    }
}