/* ---------------------------------------------------------------- */
/*                              Content                             */
/* ---------------------------------------------------------------- */


#intro {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, auto); */

    display: flex;
    flex-direction: column;

    margin-top: 100px;
    margin-bottom: 20%;

    font-size: 40px;
    background-color: #37465B;
}

#intro h1 {
    /* grid-column: 1; */

    /* font-size: 80px; */
}

#intro h2 {
    /* grid-column: 1 / 4; */
}

@media only screen and (max-width: 768px) {

    #intro {
        grid-template-columns: repeat(1, 1fr);

        font-size: 30px;
    }

    #intro h1 {
        grid-column: 1;

    }

    #intro h2 {
        grid-column: 1;

    }

}