@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
#726EFF
#SAFFE7
#08C6AB
#37465B
#212B38
*/

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

/* 
#wrapper {
    position: relative;
} */

body {
    display: flex;
    flex-direction: column;


    background-color: #37465B;
    color: white;
    font-family: Roboto;
}

header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    display: grid;
    place-items: center;

    background-color: #726EFF;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: 0px solid transparent;
    border-radius: 4px;
}

header a:hover {
    background-color: #615dc0;
}

nav {
    text-align: center;

    background-color: #212B38;
}

.mainNavBar ul {
    margin-left: auto;
    margin-right: auto;
}

.mainNavBar li {
    width: 100px;
    display: inline-block;

    vertical-align: middle;
    padding-inline: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: large;
    font-weight: bolder;
}

.mainNavBar li:hover {
    background-color: #37465B;
}

.mainNavBar ul a {
    text-decoration: none;
    color: white;
}

main {
    flex: 1;
    min-height: 80vh;
}

article {
    margin-bottom: 100px;
}

footer {
    padding: 30px;
    margin-top: 400px;
    text-align: center;

    font-size: small;
    background-color: #212B38;
}

footer ul {
    margin-left: auto;
    margin-right: auto;
}

footer li {
    display: inline-block;
    vertical-align: middle;
    padding-inline: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a {
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                                   Content                                  */
/* -------------------------------------------------------------------------- */

.mainContent {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 12%;
    margin-right: 12%;

    padding: 10px;
}

/* Animation from https://codepen.io/denic/pen/GRoOxbM */
/* .typingAnimation {
    width: 10ch;
    animation:
        1s steps(10) typing,
        .4s step-end 10 alternate blinking;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #37465B;
    border-left: 2px solid #37465B;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-right: 2px solid;
    }
} */


@media only screen and (max-width: 768px) {

    .mainContent {
        margin-left: 6%;
        margin-right: 6%;
    }
}